@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --fuente: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: var(--fuente);
}

h1 {
  text-shadow: 5px 5px 0 #000;
}

hr {
  margin-bottom: 0;
}